/**************************************/
/********** DEBUGGING STYLES **********/
/**************************************/


/********** MAIN **********/

.value {
	opacity: 70%;
}

pre {
	border-radius: 10px;
	display: table;
	margin-left: 1em;
	border-spacing: 1em;
}

.debug,
.sanitizeString, .validateInputString, .validateEmail, .validateImageUpload,
.dateTime, .DB, .auth, .classLoader {
	background-color: #F9A1BC;
	padding: 2px 20px;
	margin: 2px 0 2px 0.8em;
	font-family: arial;
	font-size: 0.9em;
	color: #625772;
	max-width: 100vw;
	text-wrap: wrap;
	border-radius: 10px;
}


/********** CLASSES AND TRAITS **********/
.class, .trait {
	font-family: georgia;
}
.class {
	background-color: #A9EEE6;
	color: #625772;
}
.trait {
	background-color: #A9EEE6;
	color: #625772;
}


/********** FUNCTIONS AND METHODS **********/
.classLoader {
	font-family: courier new;
	font-size: 0.9em;
	background-color: cornflowerblue;
}
.sanitizeString {
	background-color: #D02E77;
	color: #FED6BE;
}

.validateInputString {
	background-color: #D02E77;
	color: #FED6BE;
}
.validateEmail {
	background-color: #D02E77;
	color: #FED6BE;
}

.validateImageUpload {
	background-color: #D02E77;
	color: #FED6BE;
}
.dateTime {
	background-color: #D02E77;
	color: #FED6BE;
}
.db {
	background-color: #624464;
	color: #FFFEE6;
}
.auth {
	background-color: palegoldenrod;
	color: black;
}


/********** STATUS STYLES **********/
.err, .ok, .hint {
	border-radius: 0.5em 0 0 0.5em;
	border-left: 0.7em solid whitesmoke;
	margin-left: 0em;
}
.err {
	border-color: red;
}
.ok {
	border-color: green;
}
.hint {
	border-color: darkorange;
}
