/*******************************/
/********** MAIN CSS ***********/
/*******************************/

/********** GLOBAL *************/

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
    margin: 5px;
}

a:hover {
    color: #4e93ac;
}

body {
    background: rgb(0, 0, 18);
    background-image: url("./images/background.png");
    background-repeat: repeat-y;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 0.05rem;
}


/********** NAVIGATION ***********/

.navigation {
    height: 85px;
    width: 90%;
    background-color: rgb(11, 11, 60);
    border: 2px solid grey;
    border-radius: 8px;
    margin: 20px 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 10px;
}

fieldset legend {
    color: white;
    font-size: 0.8rem;
}

fieldset {
    padding: 10px 20px;
    border: 1px solid grey;
    border-radius: 8px;
}

.login-field {
    padding: 5px;
    border-radius: 4px;
} 

.submit-button {
    padding: 4px 12px;

}

.navigation a {
    color: white;
    text-decoration: none;
    margin: 5px;
}

.navigation a:hover {
    color: #4e93ac;
}


/********** HEADER ***********/

header {
    display: flex;
    gap: 5%;
    align-items: center;
    width: 90%;
}

.logo {
    width: 100px;
}

h1 {
    color: white;
    font-size: 2.5rem;
    letter-spacing: 0.3rem;
    font-family: Herculanum, fantasy;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    color: white;
}

.title a {
    color: white;
    text-decoration: none;
    margin: 5px;
    width: 190px;
}

.title a:hover {
    color: #4e93ac;
}


/********** FORMS DASHBOARD ***********/

.forms, .content {
    display: flex;
    justify-content: center;
    width: 90%;
    flex-wrap: wrap;
    margin-top: 20px;
    align-items: flex-start;
}

.mini-forms {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.article-form, .category-form, .blog, .categories {
    background-color: rgb(11, 11, 60);
    border: 2px solid grey;
    border-radius: 8px;
    margin: 15px 2%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    color: white;
}

.article-form {
    flex: 0 1 45vw;
}

.category-form {
    width: 350px;
    flex: initial;
}

.edit-form {
    display: flex;
    flex-direction: column;
}

.form-heading {
    font-size: 1.5rem;
}

.form-text, .form-select {
    height: 2rem;
    padding: 5px;
    border-radius: 4px;
    font-size: 1rem;
    margin-top: 5px;
    letter-spacing: 0.05rem;
}

.form-select {
    font-size: 0.8rem;
    height: 1.8rem;
}

.image-info {
    font-size: 0.8rem;
}

.form-button {
    padding: 8px 22px;
    font-size: 1rem;
    letter-spacing: 0.05rem;
}

.textarea {
    padding: 10px;
    border-radius: 4px;
    font-size: 1rem;
    margin-top: 5px;
    letter-spacing: 0.05rem;
}

.radio-buttons{
    display: flex;
    gap: 25px;
}


/********** BLOG HOMEPAGE ***********/

.blog {
    width: 43%;
    flex: 1 0 250px;
}

.blog-category {
    color: #4e93ac;
    align-self: flex-end;
    margin-top: 10px;
}

.blog-title {
    font-family: Herculanum, fantasy;
    font-size: 1.8rem;
    margin: 20px 0 10px 0;
}

.blog-meta {
    color: gray;
    font-size: 0.8rem;
    margin-bottom: 10px;
}

.container {
    width: 100%;
}

.clearfix {
    overflow: auto;
}

.blog-content {
    margin-bottom: 20px;
    line-height: 1.5rem;
}


/********** BLOG IMAGE HOMEPAGE ***********/

.right, .left {
    width: 31%;
    float: right;
}

.right {
    float: right;
    margin: 15px 15px 15px 25px;
}

.left {
    float: left;
    margin: 15px 25px 15px 15px;
}


/********** CATEGORIES HOMEPAGE ***********/

.categories {
    width: 230px;
    flex: initial;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 52px 10px;
    font-size: 1.2rem;    
}

.categories a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
}

.categories a:hover {
    color: #4e93ac;
    cursor: pointer;
}

.categories .active {
    text-decoration: underline;
}


/********** USER MESSAGES ***********/

.error {
    color: rgb(237, 105, 105);
    margin: 2px 0;
    font-size: 0.8rem;
}

.success {
    color: rgb(119, 225, 129);
    margin-bottom: 2px;
    font-size: 0.8rem;
}

.popup-error {
    font-size: 1.2rem;
    color: rgb(237, 105, 105);
    margin: 1.5rem;
}

.popup-success {
    font-size: 1.2rem;
    color: #4e93ac;
    margin: 1.5rem;
}


/********** FOOTER ***********/

footer {
    height: 65px;
    width: 90%;
    background-color: rgb(11, 11, 60);
    border: 2px solid grey;
    border-radius: 8px;
    margin: 20px 5%;
    display: flex;
    justify-content: center;
    padding: 10px;
    color: white;
    font-size: 0.7rem;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
}

.footer-container ul {
    display: flex;
    gap: 8px;
    margin-bottom: 10px;
}


/********** SPECIAL POPUP MESSAGES STYLES ***********/

popupBox {
	border: 1px solid #4e93ac;
	box-shadow: 20px 10px 25px 0px rgba(51,51,51,0.5);
	border-radius: 10px;
	background-color: rgba(230,230,230,0.9);
	width: 50%;
	margin: auto;	
	text-align: center;
	color: #666;
	padding: 25px;
	position: absolute;
    margin: auto;
	left: 25%;
	top: 40%;
}

popupBox h3 {
	color: white;
}

popupBox p {
	color: white;
}

popupBox a {
	border-radius: 5px;
	padding: 5px 8px;
	font-size: 1.2em;
	text-decoration: none;
}
popupBox a:hover, popupBox a.button:hover {
	background-color: rgb(78, 147, 172, 0.3);
}
popupBox a.button {
	background-color: rgba(255,255,255,0.3);
	border: 1px solid gray;
	color: gray;
}
popupBox a.button:hover {
	color: black;
	cursor: pointer;
}

